body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}
.centraliza {
  display: grid;
  justify-content: center;
  align-items: center;
}

#main-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 8px;
  column-gap: 8px;
}

#first-block {
  background-color: red;
  grid-column: 1 /-1;
}

.child-container {
  grid-column: 1 /-1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 8px;
  column-gap: 8px;
  padding: 0px 8px;
}

.blue-block {
  background-color: blue;
  grid-column: 1 / span 2;
}

.yellow-block {
  background-color: yellow;
  grid-column: 3 / span 2;
}

.green-block {
  background-color: green;
  grid-column: 5 / span 2;
}

.black-container {
  grid-column: 1 / -1;
  grid-row: 3 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  row-gap: 8px;
  column-gap: 8px;
}
.black-block {
  background-color: black;
  color: white;
}

.white-block {
  background-color: white;
}

div.child-container > div:nth-of-type(8) {
  grid-column: 1 / span 2;
}

div.child-container > div:nth-of-type(9) {
  grid-column: 3 / span 2;
}

div.child-container > div:nth-of-type(10) {
  grid-column: 5 / span 2;
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
  .child-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .blue-block,
  div.child-container > div:nth-of-type(8) {
    grid-column: 1;
  }

  .yellow-block,
  div.child-container > div:nth-of-type(9) {
    grid-column: 2;
  }

  .green-block,
  div.child-container > div:nth-of-type(10) {
    grid-column: 1/-1;
  }

  .black-container {
    grid-row: 5 / span 2;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {
  .child-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }

  .blue-block,
  div.child-container > div:nth-of-type(8),
  .yellow-block,
  div.child-container > div:nth-of-type(9),
  .green-block,
  div.child-container > div:nth-of-type(10) {
    grid-column: 1;
  }

  .black-container {
    grid-row: 7 / span 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
